.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
issues.csv
include/
lib/
logs/
plugins/
tests/
bin/
lib/python3.12/
